<html>

<head>
  <title>Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body class="container bg">
  <div class="row header">
    <div class="col-xs-10">
      <div class="header-text">
        {{quiz_name}}
      </div>
    </div>
  </div>
    <div class="col-xs-10 col-md-4 col-lg-2">
      <div class="col right">
        <a class="link" href="/restart">Restart</a>
        <a class="link" href="/logout">Log out</a>
      </div>
    </div>


  <div class="row">
    <div class="col-xs-10">
      <div class="quiz-name">Викторина для {{session['username']}}!</div>
    </div>
  </div>

  {% if session['ca'] != None and session['ca'] != Null %}
    <div class="col-xs-10">
      {% if correct %}
      <div class="correct">Правильно!</div>
      {% endif %}
      {% if not correct %}
      <div class="incorrect">Неправильно!</div>
      {% endif %}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-5">
      <div class="question-text">
        {{ question.text }}
      </div>
    </div>
    {% if session['ca'] != None and session['ca'] != Null %}
      <div class="col-xs-5">
        <div class="correctanswers">Правильные ответы: {{session['ca']}}</div>
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-xs-10">
      <div class="answers-text">
        Ответы:
      </div>
    </div>
  </div>
  <div class="row answers">
    {% for answer in question.answers %}
    <div class="col-xs-10 col-md-5 col-lg-2">
      <div class="answer">
        <a href="/?answer_id={{answer.id}}">{{answer.text}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>