<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">

</head>

<body class="container bg">
  <div class="row">
    <div class="col-xs-10">
      <div class="header">
        Регистрация
      </div>
    </div>
  </div>

  <form method="POST" action="/login">
    <div class="row">
      <div class="col-xs-10 col-md-3 login-text">
        <div class="center">Имя пользователя:</div>
      </div>
      <div class="col-xs-10 col-md-3">
        <input class="name-input" type="text" name="username" />
      </div>
      <div class="col-xs-10 col-md-2">
        <input class="login-button" type="submit" value="Войти" />
      </div>
    </div>
  </form>

</body>

</html>